@using MVC_DAPPER.Models
@model IEnumerable<EmployeeModel>

@{
    ViewBag.Title = "List Employee";
}
<h2>@ViewBag.Title</h2>

<p>
    <a href="@Url.Action("EmployeeData", "Home")">Create New</a>
</p>

<table class="table table-bordered table-striped datatable">
    <thead>
        <tr>
            <th>No</th>
            <th>Name</th>
            <th>Join Date</th>
            <th>Photo</th>
            <th>Height</th>
            <th>Weight</th>
            <th>Departement</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{ int i = 1; }
        @foreach (var item in Model)
        {
            <tr>
                <td>@i.</td>
                <td>@item.EmployeeName</td>
                <td>@item.JoinDate</td>
                <td><a onclick="GetClientReport(@item.EmployeeId)">download document</a></td>
                <td>@item.Height</td>
                <td>@item.Weight</td>
                <td>@item.DepartmenName</td>
                <td><a href="@Url.Action("EmployeeData", "Home", new { id = @item.EmployeeId })">Edit</a> | 
                    <a href="@Url.Action("DeleteData", "Home", new { id = @item.EmployeeId })">Delete</a></td>
            </tr>
            i++;
        }
    </tbody>
</table>


<script>
    function GetClientReport(id) {
        window.open('/Home/GetReport/' + id, "_blank");
};
</script>
